@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
}
.big-container {
  background-color: black;
  width: 800px;
  margin: 100px auto;
  position: relative;
  border: 2px solid white;
}

.title {
  color: aqua;
  font-size: 48px;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 10px;
}

.sub-title {
  color: white;
  padding-left: 10px;
  padding-bottom: 5px;
}

.main {
  background-color: white;
  display: flex;
  margin: 0px 3px;
}

.planet-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 0 35%;
  margin: 30px;
  margin-bottom: 100px;
}
.planet-desc {
  font-size: 14px;
  padding: 5px;
  letter-spacing: 1px;
  padding: 10px;
}
.big-text {
  line-height: 1.5;
  padding: 30px 0px;
  padding-right: 20px;
}

.planet-img {
  width: 270px;
  padding: 6px 10px;
}

.facts-cont {
  color: white;
  background-color: black;
  padding: 5px;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  bottom: 185px;
}
.footer {
  background-color: #d9ebeb;
  padding: 10px;
  margin: 0px 1px 1px 1px;
}

.foot-desc {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 1px;
}
