.btn {
  background-color: #554938;
  color: white;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
  padding: 10px 60px;
  font-size: 20px;
  line-height: 1.5;
  /* border-radius: 6px; */
}
.btn:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 300ms ease-in-out;
  /* transform-origin: bottom; */
}
