@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
h1,
h4 {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  margin: 50px auto;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
}

.right {
  width: 50%;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

p {
  color: gray;
}

.features {
  list-style: none;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature img {
  width: 70px;
}

.features .feature:not(:last-child) {
  margin-bottom: 18px;
}

