<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head></head>
<body>
<nav th:fragment="navbar"
     class="main-nav">
    <ul>

        <th:block sec:authorize="isAnonymous()" >
            <li>
                <a th:href="@{/}" >Home</a>
            </li>
            <li>
                <a href="/users/login">Login</a>
            </li>
            <li>
                <a href="/users/register">Register</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
        <li>
            <a th:href="@{/routes/add}" >Add new route</a>
        </li>
        <li>
            <a th:href="@{/users/profile/}">Profile</a>
        </li>
        <li>
            <a th:href="@{/users/admin}" sec:authorize="hasRole('ADMIN')">Admin</a>
        </li>
        <li>
<!--            <a th:href="@{/users/logout}">Logout</a>-->
            <form th:action="@{/users/logout}" th:method="post">
                <button class="nav-btn" type="submit">Logout</button>
            </form>
<!--            <a href="/users/logout">Logout</a>-->

        </li>
        </th:block>
    </ul>
</nav>

</body>
</html>