@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

:root {
    --background-image: url(./image/image.jpg);
    --clr-text-dark-gray: #363434;
    --clr-side-bg: #bab1ad;
    --clr-green: #67784d;
    --cl-main: #f2f0f3;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--clr-text-dark-gray);
    background-color: var(--cl-main);
    
    
    
}
h1,
h2
 {
    font-family: 'Abril Fatface', cursive;
}

/* Header */

#head {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}
#head .company-name {
    background-color: transparent;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 230px;
    height: 190px;
    padding: 20px 50px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.84) 0px 3px 8px;
}
#head .company-name .divider {
    height: 3px;
    background-color: white;
    width: 90%;
    margin: 10px 0px;
}
#head .company-name .company-desc {
    padding-top: 5px;
}
#head .description {
    background: linear-gradient(90deg, rgba(156,146,138,1) 0%, rgba(207,204,201,1) 100%);
    position: absolute;
    top: 150px;
    right: 50px;
    width: 300px;
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.84) 0px 3px 8px;
    text-align: right;
}
.description-big {
    font-size: 64px;
    padding-right: 10px;
    padding-bottom: 0px;
    color: #8d8581;
}
#head .description .descrition-text {
    color:rgba(207,204,201,1);
    text-shadow: 1px 0px 0.5px #be6e6e;
    font-size: 15px;
    padding-right: 15px;
}
.features {
    /* background-color: var(--cl-main); */
    display: flex;
    justify-content: center;
    align-items: unset;
    /* width: 100vw;
    height: 100vh; */
}
.left-feature {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}
.text {
    margin-top: 30px;
    padding-right: 50px;
}

.headers {
    margin-top: 60px;
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
}
.contact-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px 0px;
    letter-spacing: 1px;
    
    
}

.form {
    display: flex;
    gap: 10px;
    padding: 20px 0px 40px 0px;
   
}
.email {
    background-color: var(--clr-side-bg);
    border: none;
    padding: 5px 100px 5px 5px;
    color: var(--cl-main);
    border-radius: 4px;
}
.email::placeholder {
    color: var(--cl-main);
    font-size: 12px;
    padding-left: 10px;
}
.btn {
    background-color: var(--clr-green);
    border: none;
    border-radius: 4px;
    color: var(--cl-main);
    font-size: 12px;
    padding: 0 10px 0 10px;
}

.right-feature {
    background-color: var(--clr-side-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 100px 20px 20px;
    
    
}
.numbers {
    color: var(--cl-main);
    font-weight: 200;
    font-size: 64px;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
}
.right-features-desc {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.side-element {
    padding: 30px 50px;
}



