body {
    font-family: "Helvetica" , sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.title-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 64px;
    color: #2C383B;
}

.title-divider {
    width: 2px;
    height: 50px;
    background-color: rgba(150, 149, 149, 0.5);
}

.sub-title {
    font-size: 22px;
}

.by {
    color: gray;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.nav-link {
    background-color: #ECECEC;
    font-size: 24px;
    padding: 24px 30px;
    text-decoration: none;
    color: black;
}

.nav-link:nth-child(1) {
    background-color: #E24E2A;
    color: white;
}

.hero-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.hero-desc {
    background-color: #E24E2A;
    
    color: #F5C7BC;
    display: flex;
    justify-content: center;
    padding: 60px;
    text-align: center;
}

.hero-text {
    width: 70%;
    font-size: 22px;
}

.hero-text a {
    color: #FCEEEA;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards,
.cards-no-icon {
    background-color: #383838;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.card-divider {
    width: 90%;
    height: 1px;
    background-color: #6d6c6c;
    margin: 30px;
}

.card i {
    background-color: #E24E2A;
    font-size: 96px;
    font-weight: 500;
    padding: 30px;
    margin: 10px;
}

.card p {
    font-size: 22px;
}

.card-desc {
    color: #6d6c6c;
    font-size: 20px;
    text-align: center;
}

h4 {
    font-size: 24px;
    font-weight: 400;
}

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.sign-up .sign-title {
    font-size: 48px;
    font-weight: 300;
    color: #555555;
}

.sign-desc {
    color: #afafaf;
    font-size: 24px;
    padding-bottom: 40px;
}
.cards-no-icon h4 {
    font-size: 32px;
    padding-bottom: 50px;
}

footer {
    background-color: #1B9772;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5BB499;
    padding: 120px;
    font-size: 20px;
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color: #A2D4C5;
}