<!DOCTYPE html>
<html>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add product</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/products/add}"
          th:object="${productAddBindingModel}"
    >
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input type="text" class="form-control" id="name"
                   th:field="*{name}"
                   th:errorclass="'is-invalid bg-danger'"/>
            <small th:errors="*{name}"
                   class="text-danger">error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea type="text" class="form-control" id="description"
                      th:field="*{description}"
                      th:errorclass="'is-invalid bg-danger'">
            </textarea>
            <small th:errors="*{description}"
                   class="text-danger">error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="neededBefore" class="h4 mb-2">Before</label>
            </div>
            <input type="datetime-local" class="form-control" id="neededBefore"
                   th:field="*{neededBefore}"
                   th:errorclass="'is-invalid bg-danger'"/>
            <small th:errors="*{neededBefore}"
                   class="text-danger">error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input type="number" step="0.1" class="form-control" id="price"
                   th:field="*{price}"
                   th:errorclass="'is-invalid bg-danger'"/>
            <small th:errors="*{price}"
                   class="text-danger">error message</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category"
                    th:field="*{category}"
                    th:errorclass="'is-invalid bg-danger'">
                <option value="">Select category</option>
                <option th:each="c : ${T(com.example.shoppinglistapp.model.entity.enums.CategoryNameEnum).values()}"
                        th:text="${c}"
                        th:value="${c}"
                        th:selected="${c} == *{category}"
                >Style</option>
            </select>
            <small th:errors="*{category}" class="text-danger">Category error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add product</button>
        </div>
    </form>
</main>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
