@media (max-width: 768px) {
  .main-movie-poster img {
    display: none;
  }

  iframe {
    width: 550px;
    height: 350px;
  }

  .main-movie ul li {
    padding: 0px;
  }
  .movie-list li img {
    width: 100%;
    height: 80%;
  }
  .movies {
    width: 100%;
    color: rgb(226, 182, 22);
    margin: 50px 0 50px 0;
  }
}
@media (max-width: 414px) {
    
    iframe {
      width: 400px;
      height: 300px;
    }
    
    .movie-list {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .movie {
        width: 380px;
        height: unset;
    }
  }


